apiVersion: v1
kind: Service
metadata:
  name: server
  labels:
    app: server
    component: backend
spec:
  selector:
    app: server
  ports:
  - port: 3000
    targetPort: 3000
    name: http
  - port: 3001
    targetPort: 3000
    name: ws
  type: ClusterIP