apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smart-home-dev

bases:
  - ../../base

patchesStrategicMerge:
  - deployment-patch.yaml

replicas:
  - name: web
    count: 1
  - name: server
    count: 1

configMapGenerator:
  - name: server-config
    behavior: merge
    literals:
      - node-env=development
      - log-level=debug
      - cors-origins=*
  - name: web-config
    behavior: merge
    literals:
      - api-url=http://localhost:3000

images:
  - name: smart-home-server
    newName: smart-home-server
    newTag: dev
  - name: smart-home-web
    newName: smart-home-web
    newTag: dev